#{extends 'main2.html' /}
#{set title:'Novi Sad - Predložene Izmene' /}
<script type="text/javascript" src="@{'public/javascripts/alterations.js'}"></script>

<div>
	<h2>
		Pregled vaših predloga
	</h2>
	<p>
		Sledi tabela sa prikazom svih akata i amandmana u proceduri, koje ste Vi predložili.<br/>
		Ukoliko želite, možete ih povući.
	</p>
	
	
	#{if documents.size() > 0}
		<table class="tabelaPregled">
			<tr><th class="tip">Tip</th><th class="naziv">Naziv</th><th class="pregled">&nbsp </th><th class="pdf">&nbsp </th><th class="withdrawal">&nbsp</th></tr>
			
			#{list items: documents, as:'document'}
			<tr>
				<td> 
					#{if document.getTipDokumenta() == 'PROPIS'}
						akt
					#{/if}
					#{else}
						amandman
					#{/else}
				</td>
	            <td class="documentId" style="display:none;">
				#{if document.getTipDokumenta() == 'PROPIS'}
					${document.getUriPropisa()}
				#{/if}
				#{else}
					${document.getUriAmandmana()}
				#{/else}
	            </td>
	
				<td>${document.getNaziv()}</td>
				
				<td><a class="alterationPreview">HTML</a></td>
				
				<td><a class="alterationToPdf">PDF</a></td>
				
				<td><a class="deleteAlteration">(opozovi)</a></td>
			</tr>
			#{/list}
			
		</table>
	#{/if}
	#{else}
		<br/><br/><br/><br/>
		<h5>
			Niste predložili nijedan dokument.
		</h5>
		<br/><br/><br/><br/><br/>
	#{/else}
</div>