#{extends 'main2.html' /}
#{set title:'Novi Sad - Pregled Dokumenata' /}
<script>
	$(".pregledMenu").show();
	$(document).ready(function() {
		$(".alterationToPdf").click(function(){
			var id = $(this).parents("tr").find(".documentId").text();
			$(location).attr('href', '/overview/topdf?id=' + id);
		});
		$(".alterationPreview").click(function(){
			var id = $(this).parents("tr").find(".documentId").text();
			$(location).attr('href', '/overview/preview?id=' + id);
		});
	});
</script>

<div>
	<h2>
		Pregled usvojenih akata i akata u proceduri			
	</h2>
	<p>
		Sledi tabela sa prikazom svih usvojenih akata i onih koji su u proceduri.
	</p>
	<table class="tabelaPregled">
		<tr><th class="status">Status</th><th class="tip">Tip</th><th class="naziv">Naziv</th><th class="pregled">&nbsp </th><th class="pdf">&nbsp </th></tr>
		<tr><td>izmena akata</td><td>u proceduri</td><td class="documentId" style="display:none;">12</td><td>Prigovor po osnovi br 243,na clan 7543, zakona o medjuljudskim odnosima 23</td><td><a class="alterationPreview">pogledaj</a></td><td><a class="alterationToPdf">u PDF</a></td></tr>
		<tr><td>izmena akata</td><td>u proceduri</td><td class="documentId" style="display:none;">23</td><td>Prigovor po osnovi br 243,na clan 7543, zakona o medjuljudskim odnosima 23</td><td><a class="alterationPreview">pogledaj</a></td><td><a class="alterationToPdf">u PDF</a></td></tr>
		<tr><td>izmena akata</td><td>u proceduri</td><td class="documentId" style="display:none;">34</td><td>Prigovor po osnovi br 243,na clan 7543, zakona o medjuljudskim odnosima 23</td><td><a class="alterationPreview">pogledaj</a></td><td><a class="alterationToPdf">u PDF</a></td></tr>
		<tr><td>izmena akata</td><td>u proceduri</td><td class="documentId" style="display:none;">56</td><td>Prigovor po osnovi br 243,na clan 7543, zakona o medjuljudskim odnosima 23</td><td><a class="alterationPreview">pogledaj</a></td><td><a class="alterationToPdf">u PDF</a></td></tr>
		
	</table>
</div>