#{extends 'main2.html' /}
#{set title:'Novi Sad - Pregled Dokumenata' /}
<script type="text/javascript" src="@{'public/javascripts/overview.js'}"></script>

<div>
	<h2>
		Pregled usvojenih akata i akata u proceduri			
	</h2>
	<p>
		Sledi tabela sa prikazom svih usvojenih akata i onih koji su u proceduri.
	</p>
	<table class="tabelaPregled">
		
		<tr><th class="status">Status</th><th class="tip">Tip</th><th class="naziv">Naziv</th><th class="pregled">&nbsp </th><th class="pdf">&nbsp </th></tr>
		#{list items: combined, as:'document'}
		<tr>
			<td>${document.getPreambula().getStatus()}</td>
			<td> 
				#{if document.getTipDokumenta() == 'PROPIS'}
					akt
				#{/if}
				#{else}
					amandman
				#{/else}
			</td>
            <td class="documentId" style="display:none;">
			#{if document.getTipDokumenta() == 'PROPIS'}
				${document.getUriPropisa()}
			#{/if}
			#{else}
				${document.getUriAmandmana()}
			#{/else}
            </td>

			<td>${document.getNaziv()}</td>
			
			<td><a class="alterationPreview">HTML</a></td>
			
			<td><a class="alterationToPdf">PDF</a></td>
		</tr>
		#{/list}
		
	</table>
</div>