#{extends 'main2.html' /}
#{set title:'Novi Sad - Pregled' /}
<script>
	$(".pregledMenu").show();
</script>

<div>
	<h2>
		Pregled usvojenih akata i akata u proceduri			
	</h2>
	<p>
		Sledi tabela sa prikazom svih usvojenih akata i onih koji su u proceduri.
	</p>
	<table class="tabelaPregled">
		<tr><th class="status">Status</th><th class="tip">Tip</th><th class="naziv">Naziv</th><th class="pregled">&nbsp </th><th class="pdf">&nbsp </th></tr>
		<tr><td>u proceduri</td><td>izmena akata</td><td>Prigovor po osnovi br 243,na clan 7543, zakona o medjuljudskim odnosima 23</td><td><a href="#">pogledaj</a></td><td><a href="#">u PDF</a></td></tr>
		<tr><td>u proceduri</td><td>izmena akata</td><td>Prigovor po osnovi br 243,na clan 7543, zakona o medjuljudskim odnosima 23</td><td><a href="#">pogledaj</a></td><td><a href="#">u PDF</a></td></tr>
		<tr><td>u proceduri</td><td>izmena akata</td><td>Prigovor po osnovi br 243,na clan 7543, zakona o medjuljudskim odnosima 23</td><td><a href="#">pogledaj</a></td><td><a href="#">u PDF</a></td></tr>
		<tr><td>u proceduri</td><td>izmena akata</td><td>Prigovor po osnovi br 243,na clan 7543, zakona o medjuljudskim odnosima 23</td><td><a href="#">pogledaj</a></td><td><a href="#">u PDF</a></td></tr>
	</table>
</div>