#{extends 'main2.html' /}
#{set title:'Novi Sad - Pretraga' /}
<script>
	$(".pretragaMenu").show();
</script>

<div>
	<h2>
		Pretraga usvojenih akata i akata u proceduri			
	</h2>
	<p>
		Dokumente koji su usvojeni ili su u proceduri možete pretraživati prema tekstualnom sadržaju i/ili prema njihovim detaljima.<br/>
		Popunite odgovarajuća polja i pokrenite pretragu:
	</p>
	<div class="center">
		<form>
			<table class="invisibleTable">
				<tr><th>Tekst za pretragu:</th><td><input type="text" name="documentText"/></td></tr>
				<tr><td><hr/></td></tr>
				<tr><th>Naziv dokumenta:</th><td><input type="text" name="documentName"/></td></tr>
				<tr><th>Status dokumenta:</th><td>
					<select name="documentStatus">
						<option value=""></option>
						<option value="nominated">Predložen</option>
						<option value="adopted">Usvojen</option>
					</select></td></tr>
				<tr><th>Tip dokumenta:</th><td>
					<select name="documentType">
						<option value=""></option>
						<option value="statute">Akat</option>
						<option value="amendment">Amandman</option>
					</select></td></tr>
				<tr><th>Datum podnošenja od:</th><td><input type="date" name="documentDateFrom"/></td></tr>
				<tr><th>Datum podnošenja do:</th><td><input type="date" name="documentDateTo"/></td></tr>
				<tr><th></th><td></td></tr>
				<tr><td colspan="2"><input type="button" value="Pretraži"><input type="button" value="Odustani"></td></tr>
			</table>
		</form>
	</div>
	<h3>
		Rezultati pretrage:
	</h3>
	<div class="searchResult">
		<table class="tabelaPregled">
			<tr><th class="status">Status</th><th class="tip">Tip</th><th class="naziv">Naziv</th><th class="pregled">&nbsp </th><th class="pdf">&nbsp </th></tr>
			<tr><td>u proceduri</td><td>izmena akata</td><td>Prigovor po osnovi br 243,na clan 7543, zakona o medjuljudskim odnosima 23</td><td><a href="#">pogledaj</a></td><td><a href="#">u PDF</a></td></tr>
			<tr><td>u proceduri</td><td>izmena akata</td><td>Prigovor po osnovi br 243,na clan 7543, zakona o medjuljudskim odnosima 23</td><td><a href="#">pogledaj</a></td><td><a href="#">u PDF</a></td></tr>
			<tr><td>u proceduri</td><td>izmena akata</td><td>Prigovor po osnovi br 243,na clan 7543, zakona o medjuljudskim odnosima 23</td><td><a href="#">pogledaj</a></td><td><a href="#">u PDF</a></td></tr>
			<tr><td>u proceduri</td><td>izmena akata</td><td>Prigovor po osnovi br 243,na clan 7543, zakona o medjuljudskim odnosima 23</td><td><a href="#">pogledaj</a></td><td><a href="#">u PDF</a></td></tr>
		</table>
	</div>
	<div class="searchNoResult">
		<h4>Nije pronađen nijedan dokument (prema zadatim kriterijumima)</h4>
	</div>
</div>