#{extends 'main2.html' /}
#{set title:'Novi Sad - Pretraga Dokumenata' /}
<script>
	$(".pretragaMenu").show();
	
	function showDateSearch() {
		var value = $(".selectStatus").val();
		$(".statusNominated").hide(); 
		$(".statusAdopted").hide(); 
		$(".statusPublished").hide(); 
		$(".statusApplied").hide(); 
		$(".statusWithdrawn").hide(); 
		if (value == "nominated") {
			$(".statusNominated").show(); 				
		} else if (value == "adopted") {
			$(".statusNominated").show(); 
			$(".statusAdopted").show(); 
		} else if (value == "published") {
			$(".statusNominated").show(); 
			$(".statusAdopted").show(); 
			$(".statusPublished").show(); 
		} else if (value == "applied") {
			$(".statusNominated").show(); 
			$(".statusAdopted").show(); 
			$(".statusPublished").show(); 
			$(".statusApplied").show(); 
		} else if (value == "withdrawn") {
			$(".statusNominated").show(); 
			$(".statusAdopted").show(); 
			$(".statusPublished").show(); 
			$(".statusApplied").show(); 
			$(".statusWithdrawn").show();
		}
	}

	$(document).ready(function(){
	
		showDateSearch();
		
		$(".showHideSearch").click(function(){
			$(".searchParameters").slideToggle();
		});
		
		$(".cancel").click(function(){
			clearInputs(this);
			showDateSearch();
		});
		
		$(".selectStatus").change(function(){
			showDateSearch();		
		});
	});
</script>

<div>
	<h2>
		Pretraga usvojenih akata i akata u proceduri			
	</h2>
	<p>
		Dokumente koji su usvojeni ili su u proceduri možete pretraživati prema tekstualnom sadržaju i/ili prema njihovim detaljima.<br/>
		Popunite odgovarajuća polja i pokrenite pretragu:
	</p>
	<div class="center">
		<div class="showHideFormLabel"><a class="showHideSearch">prikaži/sakrij kriterijume pretrage</a></div>
		<form class="searchParameters">
			<table class="invisibleTable">
				<tr><th>Tekst za pretragu:</th><td>
					<input type="text" class="bigInput" name="documentText"/></td></tr>
				<tr><td><hr/></td></tr>
				<tr><th>Taksonomska oblast:</th><td>
					<select name="documentDomain" class="bigInput">
						<option value=""></option>
						<option value="law">Pravo</option>
						<option value="economy">Ekonomija</option>
						<option value="education">Obrazovanje</option>
						<option value="medicine">Medicina</option>
						<option value="itd">...</option>
					</select></td></tr>
				<tr><th>Naziv dokumenta:</th><td>
					<input type="text" class="bigInput" name="documentName"/></td></tr>
				<tr><th>Status dokumenta:</th><td>
					<select name="documentStatus" class="bigInput selectStatus">
						<option value=""></option>
						<option value="nominated">Predložen</option>
						<option value="adopted">Usvojen</option>
						<option value="published">Objavljen</option>
						<option value="applied">Primenjen</option>
						<option value="withdrawn">Povučen</option>
					</select></td></tr>
				<tr><th>Tip dokumenta:</th><td>
					<select name="documentType" class="bigInput">
						<option value=""></option>
						<option value="statute">Akat</option>
						<option value="amendment">Amandman</option>
					</select></td></tr>
				<tr><th>Dokument predložio:</th><td>
					<input type="text" class="bigInput" name="documentName"/></td></tr>
				<tr class="statusAdopted"><th>Dokument usvojio:</th><td>
					<input type="text" class="bigInput" name="documentName"/></td></tr>
				<tr class="statusPublished"><th>Službeni glasnik u kom je dokument objavljen:</th><td>
					<input type="text" class="mediumInput" name="documentName" pattern="\d{1,3}\/((199\d)|(200\d)|(201[06]))" title="Oznaka u formatu (broj)/(godina). Godina je između 1990 i 2016"/><i> (npr 23/2016) </i></td></tr>
				<tr class="statusNominated"><th>Datum predlaganja:</th><td>od&nbsp 
					<input type="date" class="mediumInput" name="documentDateFrom"/> do 
					<input type="date" class="mediumInput" name="documentDateTo"/></td></tr>
				<tr class="statusAdopted"><th>Datum usvajanja:</th><td>od&nbsp 
					<input type="date" class="mediumInput" name="documentDateFrom"/> do 
					<input type="date" class="mediumInput" name="documentDateTo"/></td></tr>
				<tr class="statusPublished"><th>Datum objave:</th><td>od&nbsp 
					<input type="date" class="mediumInput" name="documentDateFrom"/> do 
					<input type="date" class="mediumInput" name="documentDateTo"/></td></tr>
				<tr class="statusApplied"><th>Datum početka primene:</th><td>od&nbsp 
					<input type="date" class="mediumInput" name="documentDateFrom"/> do 
					<input type="date" class="mediumInput" name="documentDateTo"/></td></tr>
				<tr class="statusWithdrawn"><th>Datum prestanka važenja:</th><td>od&nbsp 
					<input type="date" class="mediumInput" name="documentDateFrom"/> do 
					<input type="date" class="mediumInput" name="documentDateTo"/></td></tr>
				<tr class="statusAdopted"><th>Rezultati glasanja:</th><td>ZA: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp od 
					<input type="text" class="smallInput" name="smallNumeric" pattern="\d{1,3}" title="Pozitivan ceo broj!"/> do 
					<input type="text" class="smallInput" name="smallNumeric" pattern="\d{1,3}" title="Pozitivan ceo broj!"/></td></tr>
				<tr class="statusAdopted"><th> &nbsp </th><td>PROTIV: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp od 
					<input type="text" class="smallInput" name="smallNumeric" pattern="\d{1,3}" title="Pozitivan ceo broj!"/> do 
					<input type="text" class="smallInput" name="smallNumeric" pattern="\d{1,3}" title="Pozitivan ceo broj!"/></td></tr>
				<tr class="statusAdopted"><th> &nbsp </th><td>UZDRŽANI: &nbsp od 
					<input type="text" class="smallInput" name="smallNumeric" pattern="\d{1,3}" title="Pozitivan ceo broj!"/> do 
					<input type="text" class="smallInput" name="smallNumeric" pattern="\d{1,3}" title="Pozitivan ceo broj!"/></td></tr>
				<tr><th> &nbsp </th></tr>
				<tr><td colspan="2">
					<input type="submit" class="bigButton" value="Pretraži">
					<input type="button" class="bigButton cancel" value="Odustani"></td></tr>
			</table>
		</form>
		<div class="showHideFormLabel searchParameters"><a class="showHideSearch">prikaži/sakrij kriterijume pretrage</a></div>
	</div>
	<h3>
		Rezultati pretrage:
	</h3>
	<div class="searchResult">
		<table class="tabelaPregled">
			<tr><th class="status">Status</th><th class="tip">Tip</th><th class="naziv">Naziv</th><th class="pregled">&nbsp </th><th class="pdf">&nbsp </th></tr>
			<tr><td>u proceduri</td><td>izmena akata</td><td>Prigovor po osnovi br 243,na clan 7543, zakona o medjuljudskim odnosima 23</td><td><a href="#">pogledaj</a></td><td><a href="#">u PDF</a></td></tr>
			<tr><td>u proceduri</td><td>izmena akata</td><td>Prigovor po osnovi br 243,na clan 7543, zakona o medjuljudskim odnosima 23</td><td><a href="#">pogledaj</a></td><td><a href="#">u PDF</a></td></tr>
			<tr><td>u proceduri</td><td>izmena akata</td><td>Prigovor po osnovi br 243,na clan 7543, zakona o medjuljudskim odnosima 23</td><td><a href="#">pogledaj</a></td><td><a href="#">u PDF</a></td></tr>
			<tr><td>u proceduri</td><td>izmena akata</td><td>Prigovor po osnovi br 243,na clan 7543, zakona o medjuljudskim odnosima 23</td><td><a href="#">pogledaj</a></td><td><a href="#">u PDF</a></td></tr>
		</table>
	</div>
	<div class="searchNoResult">
		<h4>Nije pronađen nijedan dokument (prema zadatim kriterijumima)</h4>
	</div>
</div>