#{extends 'main2.html' /}
#{set title:'Novi Sad - Predložene Izmene' /}
<script>
	$(".izmeneMenu").show();
</script>

<div>
	<h2>
		Pregled vaših predloga
	</h2>
	<p>
		Sledi tabela sa prikazom svih akata i amandmana u proceduri, koje ste Vi predložili.<br/>
		Ukoliko želite, možete ih povući.
	</p>
	<table class="tabelaPregled">
		<tr><th class="tip">Tip</th><th class="naziv">Naziv</th><th class="pregled">&nbsp </th><th class="pdf">&nbsp </th><th class="withdrawal">&nbsp</th></tr>
		<tr><td>izmena akata</td><td>Prigovor po osnovi br 243,na clan 7543, zakona o medjuljudskim odnosima 23</td><td><a href="#">pogledaj</a></td><td><a href="#">u PDF</a></td><td><a href="#">(opozovi)</a></td></tr>
		<tr><td>izmena akata</td><td>Prigovor po osnovi br 243,na clan 7543, zakona o medjuljudskim odnosima 23</td><td><a href="#">pogledaj</a></td><td><a href="#">u PDF</a></td><td><a href="#">(opozovi)</a></td></tr>
		<tr><td>izmena akata</td><td>Prigovor po osnovi br 243,na clan 7543, zakona o medjuljudskim odnosima 23</td><td><a href="#">pogledaj</a></td><td><a href="#">u PDF</a></td><td><a href="#">(opozovi)</a></td></tr>
		<tr><td>izmena akata</td><td>Prigovor po osnovi br 243,na clan 7543, zakona o medjuljudskim odnosima 23</td><td><a href="#">pogledaj</a></td><td><a href="#">u PDF</a></td><td><a href="#">(opozovi)</a></td></tr>
	</table>
</div>