#{extends 'main2.html' /}
#{set title:'Novi Sad - Dodavanje Amandmana' /}
<script type="text/javascript" src="@{'public/javascripts/amandments.js'}"></script>

<div>
	<h2>
		Predlaganje amandmana		
	</h2>
	<p>
		Ovde možete izvršiti predlaganje amandmana.<br/>
		Predloženi amandmani, biće razmotreni i eventualno usvojeni tokom naredne sednice skupštine.
	</p>
	<div class="center">
		<form action="@{Amendments.create()}" method="post">
			<table class="invisibleTable">
				<tr><th>Naziv amandmana:</th><td><input type="text"class="bigInput" name="amandmentName"/></td></tr>
				
				<tr><th>Odnosi se na akt:</th><td>
            		<select name="affectedRegulation"class="bigInput">
					#{list items: regulations, as:'regulation'}
                        <option value="${regulation.getUriPropisa()}">${regulation.getNaziv()}</option>
					#{/list}
					</select></td></tr>
				<!--<tr><th>Odnosi se na član:</th><td>
					<select name="affectedClause"class="bigInput">
						<option value="statute">(brojevi svih članova)</option>
						<option value="statute">(..koji su u dokumentu...)</option>
					</select></td></tr>
				-->
				<tr><th>Vrši se:</th><td>
					<select name="affectedType"class="bigInput">
						<option value="DODAVANJE">Dodavanje</option>
						<option value="IZMENA">Izmena</option>
						<option value="BRISANJE">Brisanje</option>
					</select></td></tr>
				
				<tr><th>Amandman predložio:</th><td><input type="text" class="bigInput" name="user" value="${session.get("user-name")} ${session.get("user-surname")}" readonly /></td></tr>
				<tr><th>Sadržaj amandmana:</th><td><textarea class="veryBigInput" name="amendmentContent" required></textarea></td></tr>
				<tr><th></th><td></td></tr>
				<tr><td colspan="2"><input type="submit" class="bigButton" value="Predloži"><input type="button" class="bigButton cancel" value="Odustani"></td></tr>
			</table>
		</form>
	</div>
</div>